{{#if error}}
<div class="alertContainer" id="alertContainerID">
    <div class="alert">
        <span>
            {{error}}
        </span>
        <span class="buttonAlertClose">&times</span>
    </div>
</div>
{{/if}}


{{#if errors}}
<div class="alertContainer" id="alertContainerID">
    {{#each errors}}
    <div class="alert">
        <span>
            {{text}}
        </span>
        <span class="buttonAlertClose">&times</span>
    </div>

    {{/each}}
</div>
{{/if}}