{{#if success_msg}}
<div class="alertContainer" id="alertContainerID">
    <div class="alert2">
        <span>
            {{success_msg}}
        </span>
        <span class="buttonAlertClose">&times</span>
    </div>
</div>

{{/if}}