<div class="headerClass">
    <div class="headerLogo">
        <img src="/img/logo.svg" alt="">
    </div>
    <div class="headerContainer">
        <div class="menuContainer">
            <a href="/" class="menuContainerDiv">
                <span class="noselect">Home</span>
            </a>
            <a href="/notes" class="menuContainerDiv">
                <span class="noselect" href="/notes">Notes</span>
            </a>
            <a class="menuContainerDiv" href="/users/signin">
                <span class="noselect">Sign In</span>
            </a>
            <a class="menuContainerDiv" href="/users/signup">
                <span class="noselect">Sign Up</span>
            </a>
            <a class="menuContainerDiv" href="/users/logout">
                <span class="noselect">Logout</span>
            </a>
        </div>
    </div>
</div>