<div class="headerClass">

    <div class="headerContainer">
        <div class="menuContainer">
            <a href="/" class="menuContainerDiv">
                <span class="noselect">Home</span>
            </a>

            {{#if user}}
            <a href="/notes" class="menuContainerDiv">
                <span class="noselect" href="/notes">Notes</span>
            </a>

            {{#if_eq user.level 'admin'}}
            <a class="menuContainerDiv" href="/users/signup">
                <span class="noselect">Sign Up</span>
            </a>
            {{/if_eq}}

            <a class="menuContainerDiv" href="/users/logout">
                <span class="noselect">Logout</span>
            </a>
            {{else}}
            <a class="menuContainerDiv" href="/users/signin">
                <span class="noselect">Sign In</span>
            </a>
            {{/if }}

        </div>
    </div>
</div>