<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' href='/css/main.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800&display=swap" rel="stylesheet">
    <title>Nodejs App</title>
</head>

<body>

    <div class="headerClass">
        <div class="headerLogo">
            <img src="/img/logo.svg" alt="">
        </div>
        <div class="headerContainer">
            <div class="menuContainer">
                <a href="/" class="menuContainerDiv">
                    <span class="noselect">Home</span>
                </a>
                <a href="/notes" class="menuContainerDiv">
                    <span class="noselect" href="/notes">Notes</span>
                </a>
                <a class="menuContainerDiv">
                    <span class="noselect" href="/">Home</span>
                </a>
                <a class="menuContainerDiv">
                    <span class="noselect" href="/">Home</span>
                </a>
            </div>
        </div>

    </div>
    <div class="containerClass">
        {{>messages}}
        {{{body}}}

    </div>


</body>


<script src="/js/main.js"></script>

</html>