<div class="addCard">

    <div class="addCardPrimary">

        <div class="addCardHeader">
            <span>Login</span>
        </div>

        <form class="addCardBody" action="/users/signin" method="POST">
            <div>
                <span> Usuario</span>
                <input class="inputCard" type="text" name='iduser' placeholder="Id" value="{{iduser}}" autofocus>
            </div>

            <div>
                <span>Contraseña</span>
                <input class="txtCard" type="password" name="password" placeholder="Password"
                    value="{{password}}"></input>
            </div>
            <div> <input type="checkbox"> <span>Recordar Usuario</span></div>

            <button class="buttonCard" type="submit"> Sign In </button>
            <div>Forgott Password?</div>
        </form>
    </div>
</div>